APPLICATION_MODE=DEVELOPMENT

# JWT authorization configuration credentials
JWT_ALGORITHM=Your-choice-of-algorithm
JWT_SECRET_KEY=Your-64-character-secret

# LLM credentials (Currently only supports OpenAI and Google as model providers)
OPEN_AI_API_KEY=openai-api-key
GEMINI_AI_API_KEY=google-api-key
